{
    "enabled_plugins": [
        "core.voxel_grid",
        "core.camera_controller",
        "core.entity_manager",
        "core.project_manager",
        "core.selector",
        "rendering.entity_renderer",
        "terrain.terrain_generator",
        "entities.emoji_entity_manager",
        "entities.npc",
        "ui.minimap",
        "ui.new_hud",
        "ui.menu",
        "core.time"
    ],
    "plugin_paths": {
        "core.voxel_grid": "plugins/core/voxel_grid/voxel_grid.py",
        "core.camera_controller": "plugins/core/camera_controller/camera_controller.py",
        "core.entity_manager": "plugins/core/entity_manager.py",
        "core.project_manager": "plugins/core/project_manager.py",
        "core.selector": "plugins/core/selector/selector.py",
        "rendering.entity_renderer": "plugins/rendering/entity_renderer.py",
        "terrain.terrain_generator": "plugins/terrain/terrain_generator.py",
        "entities.emoji_entity_manager": "plugins/entities/emoji_entity_manager.py",
        "entities.npc": "plugins/entities/npc/npc_plugin.py",
        "ui.minimap": "plugins/ui/minimap.py",
        "ui.new_hud": "plugins/ui/new_hud.py",
        "ui.menu": "plugins/ui/menu/menu_plugin.py",
        "core.time": "plugins/core/time/time_plugin.py"
    }
}
